# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# VS Code settings (optional, if you're using VS Code)
.vscode/

# macOS files
.DS_Store

# Python packaging
build/
develop-eggs/
dist/
eggs/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
